.bg-yellow {
  background-color: #f8e8d5;
}

.description {
  text-align: center;
  padding-bottom: 20px;
}

.container h1 {
  text-align: center;
}

.duration, .gamma, .offset {
  padding-bottom: 30px;
}

.offset {
  width: 140px;
  margin-left: 60px;
}

.duration__text {
  padding-right: 20px;
}

.ReactPiano__Keyboard {
  margin-bottom: 100px;
}

.settings__dropdown {
  display: flex;
}
