.bg-yellow {
  background-color: #f8e8d5;
}

.description {
  text-align: center;
  padding-bottom: 20px;
}

.container h1 {
  text-align: center;
}

.duration {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  width: 100%;
}

.exercise, .delay {
  margin: 0 40px;
}

.gamma, .exercise, .offset,
.delay, .direction, .interval {
  width: 150px;
}

.duration__text {
  padding-right: 20px;
}

.ReactPiano__Keyboard {
  margin-bottom: 100px;
}

.settings__main, .settings__additional--interval {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 30px;
}
